{% extends 'layout.html' %}

{% block content %}
    <main id="movie_info">
        <h2>{{ movie_title }}</h2>
        <a id="movie-review-btn" class="review-btn"
           href="{{ url_for('review_bp.add_review', movie_title=movie_title, movie_id=movie_id) }}">Review</a>
        {% if movie_director_full_name is not none %}
            <p>Director: {{ movie_director_full_name }}</p>
        {% endif %}
        {% if movie_genres is not none %}
            <p>Genres: </p>
            <ul>
                {% for genre_name in movie_genres %}
                    <li>{{ genre_name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if movie_actors is not none %}
            <p>Actors: </p>
            <ul>
                {% for actor in movie_actors %}
                    <li>{{ actor }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if movie_description is not none %}
            <p>Description: </p>
            <p>{{ movie_description }}</p>
        {% endif %}
        {% if movie_reviews|length > 0 %}
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Reviews: </h6>
                {% for review_info in movie_reviews %}
                    <div class="media text-muted pt-3">
                        <div class="mr-2 review-rating">
                            <span class="badge badge-secondary">{{ review_info.get('rating') }}</span>
                        </div>
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="text-gray-dark">{{ review_info.get('comment') }}</strong>
                                {% if review_info.get('username') == session.get('username') %}
                                    <a href="{{ url_for('review_bp.remove_review', movie_id=movie_id, review_id=review_info.get('id')) }}">delete</a>
                                {% endif %}
                            </div>
                            <span class="d-block">@{{ review_info.get('username') }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>
{% endblock %}