{% extends 'layout.html' %}
{% block content %}
    <main id="movie_search">
    <div id="movie-search-formwrapper" class="formwrapper">
        <h1 id="movie-search-title" class="title">{{ title }}</h1>
        <form method="POST" action="{{ url_for('movie_bp.search') }}">
            {{ form.csrf_token }}
            <div id="actor-search-form-field" class="form-field">
                {{ form.actor.label }} {{ form.actor }}
            </div>
            <div id="director-search-form-field" class="form-field">
                {{ form.director.label }} {{ form.director }}
            </div>
            <div id="genre-search-form-field" class="form-field">
                {{ form.genre.label }} {{ form.genre }}
            </div>
            {{ form.submit }}
        </form>
    </div>
    </main>
{% endblock %}